
/* Header */

.header {
    margin: 0 auto var(--spacing-lg) auto;
    width: 70%;
    min-width: 50rem;
}
.header__logo{
    margin: var(--spacing-sm) auto;
    color: var(--color-grey-hard);
    font-size: var(--font-size-sm);
}
.header__image {
    background-image: url('../assets/images/Wallpaper_001.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    height: 17.5rem;
    width: 100%;
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
    transition: background-size 0.3s ease-in-out;
}

.header__image:hover{
    background-size: 105%;
}

.header__text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
}
