<div class="form__container" [class.checked]="formName.value" >
    <div class="form__info" (click)="toggleCheckbox()">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </div>
    <h3 (click)="toggleCheckbox()">{{ price }}<span>€</span></h3>
    <div class="form__checkgroup" (click)="toggleCheckbox()">
        <input type="checkbox" [formControl]="formName" [id]="title" [attr.aria-label]="title + ', ' + description"/>
        <span>Afegir</span>
    </div>
    <ng-content></ng-content>
</div>
