/* Form */

:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto 1rem auto;
    padding: var(--spacing-md);
    width: 85%;
    min-width: 40rem;
    border-radius: var(--border-radius);
    border: 2px solid transparent;

    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
:host:hover {
    outline: 2px solid var(--color-grey-light);
}

.form__info {
    width: 40%;
}
.form__info h2 {
    margin: 0 auto ;
    font-weight: 700;
}
.form__info p {
    width: 85%;
    margin: 0;
    font-weight: 500;
    font-size: var(--font-size-md);
    line-height: 1.5rem;
}

:host h3 {
    width: 25%;
    font-size: var(--font-size-lg);
    font-weight: 700;
    text-align: center;
    font-size: var(--font-size-lg);
}
:host span {
    font-size: 1.25rem;
}

.form__checkgroup {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

@media(min-width:768px){
    :host {
        max-width: 65rem;
    }
}