:host{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    width: 100%;
}

.panel__group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: .5rem;
}

.panel__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.panel__info button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-grey-light);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-grey-light);
}
.panel__info h3 {
    font-size: var(--font-size-md);
    font-weight: 700;
    margin: 0;
}

.panel__selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.panel__selection button {
    padding: 0.75rem;
    width: 0.5rem;
    height: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-grey-light);

    border-radius: 50%;
    border: 0.01rem solid var(--color-grey-light);
    transition: border-color .05s ease-out;
}
.panel__selection button:active{
    border-color: var(--color-grey-hard);
}
.panel__selection input {
    width: 4rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0.01rem solid var(--color-grey-light);
    text-align: center;
    font-size: var(--font-size-md);
    line-height: 2.5rem;
}

.panel__selection input::-webkit-inner-spin-button,
.panel__selection input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
