<div [formGroup]="panelForm">
  <div class="panel__group" role="group">
    <div class="panel__info">
      <button 
        type="button" 
        class="panel__btn-info" 
        data-bs-toggle="modal" 
        data-bs-target="#helpModal"
        (click)="emitHelpButton('pages')"
      >i</button>
      <h3>Número de pàgines:</h3>
    </div>
    <div class="panel__selection">
      <button type="button" (click)="updateValues('pages', -1)">-</button>
      <input type="number" formControlName="pages">
      <button type="button" (click)="updateValues('pages', +1)">+</button>
    </div>
  </div> <!-- Pages -->

  <div class="panel__group" role="group">
    <div class="panel__info">
      <button 
        type="button" 
        class="panel__btn-info" 
        data-bs-toggle="modal" 
        data-bs-target="#helpModal"
        (click)="emitHelpButton('languages')"
      >i</button>
      <h3>Número de llenguatges:</h3>
    </div>
    <div class="panel__selection">
      <button type="button" (click)="updateValues('languages', -1)">-</button>
      <input type="number" formControlName="languages">
      <button type="button" (click)="updateValues('languages', +1)">+</button>
    </div>
  </div>
</div> <!-- Languages -->

<app-modal [currentHelpButton]="helpButton"></app-modal> <!-- modal -->