:host {
    display: flex;
    justify-content: center;


    width: 85%;
    margin: 0 auto;

    
}
button {
    margin: 0 auto 3rem auto;
    padding: var(--spacing-ss);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    font-weight: 700;
    font-size: var(--font-size-md);
    color: var(--color-white);
    width: 100%;
    transition: 0.25s ease-in-out;
}
button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

@media(min-width: 678px){
    button {
        width: auto;
    }
}