<fieldset class="form__contact"  [formGroup]="formContact">
    <legend class="form__title">Demanar pressupost :</legend>

    <div class="form__field">
        <input 
            type="text" 
            formControlName="name" 
            class="form__field-info" 
            placeholder="Nom" 
            aria-label="Nom"
            [attr.aria-invalid]="!formContact.controls['name'].valid && formContact.controls['name'].touched ? 'true' : null"
            [attr.aria-describedby]="!formContact.controls['name'].valid && formContact.controls['name'].touched ? 'name-error' : null"
        >
        <h4 id="name-error" class="form__field-error" [hidden]="formContact.controls['name'].valid || !formContact.controls['name'].touched">
            Si us plau introdueixi un nom valid
        </h4>
    </div>

    <div class="form__field">
        <input 
            type="number" 
            formControlName="telephone" 
            class="form__field-info" 
            placeholder="Télefon" 
            aria-label="Telèfon"
            [attr.aria-invalid]="!formContact.controls['telephone'].valid && formContact.controls['telephone'].touched ? 'true' : null"
            [attr.aria-describedby]="!formContact.controls['telephone'].valid && formContact.controls['telephone'].touched ? 'telephone-error' : null"
        >
        <h4 id="telephone-error" class="form__field-error" [hidden]="formContact.controls['telephone'].valid || !formContact.controls['telephone'].touched">
            Si us plau introdueixi un número de telefon valid
        </h4>
    </div>

    <div class="form__field">
        <input 
            type="email" 
            formControlName="email" 
            class="form__field-info" 
            placeholder="Email" 
            aria-label="email"
            [attr.aria-invalid]="!formContact.controls['email'].valid && formContact.controls['email'].touched ? 'true' : null"
            [attr.aria-describedby]="!formContact.controls['email'].valid && formContact.controls['email'].touched ? 'email-error' : null"
        >
        <h4 id="email-error" class="form__field-error" [hidden]="formContact.controls['email'].valid || !formContact.controls['email'].touched">
            Si us plau introdueixi un correu electronic valid
        </h4>
    </div>

    <div class="form__field">
        <button type="submit" [disabled]="!formContact.valid" class="btn-form">Sol·licitar Pressupost</button>
    </div>
</fieldset>
