
<form class="form" [formGroup]="productForm" (ngSubmit)="userBudget()">
    
    <fieldset option-form
        title="Seo"
        description="Programació d'una web responsive completa"
        [price]="budgetService.seoBasePrice"
        [formName]="seoControl">
    </fieldset> <!-- Seo form -->

    <fieldset option-form
        title="Ads"
        description="Publicitat online a diverses plataformes"
        [price]="budgetService.adsBasePrice"
        [formName]="adsControl">
    </fieldset> <!-- Ads form -->

    <fieldset option-form
        title="Web"
        description="Creació d'una web responsive i funcional"
        [price]="budgetService.webBasePrice"
        [formName]="webControl">
        @if(productForm.controls['Web']?.value){
            <app-panel [pages]="pages()" [languages]="languages()" (valuesChanged)="updatePanelOptions($event)"></app-panel>
        }
    </fieldset> <!-- Web form -->

    <fieldset class="budget__total" aria-live="polite">
        <h2>Preu pressuposat:</h2>
        <h3>{{result()}}<span>€</span></h3>
    </fieldset>
    
    <fieldset contact-form [formContact]="productForm"></fieldset> <!-- Contact Form -->
    
</form> <!-- form -->

<div class="line-separator"></div>






