:host {
    display: block;
    margin: 0 auto;
    width: 85%;
}

.budget__total{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto 1rem auto;
}
.budget__total h2 {
    font-size: var(--font-size-ml);
    font-weight: 700;
}
.budget__total h3 {
    min-width: 5rem;
    text-align: right;
    font-weight: 700;
    font-size: var(--font-size-lg);
}
.budget__total span {
    font-size: var(--font-size-md);
}

.line-separator {
    margin: 0 auto 2rem auto;
    border: 0.1rem dashed var(--color-grey-light);
    min-width: 45rem;
}

@media(min-width: 768px) {
    .budget__total {
        max-width: 65rem;
    }
    .line-separator {
        max-width: 65rem;
    }
}