:host {
    display: block;
    margin: 0 auto;
}

.line-separator {
    width: 85%;
    margin: 0 auto 2rem auto;
    border: 0.1rem dashed var(--color-grey-light);
    border-style: dashed;
    min-width: 45rem;
}

@media(min-width: 768px) {
    .line-separator {
        max-width: 65rem;
    }
}