:host {
    margin-bottom: 20rem;
}
.budgets__info {
    width: 85%;
    margin: 0 auto;
}
.budgets__info h2 {
    margin-bottom: var(--spacing-md);
    font-weight: 700;
}
@media(min-width: 768px){
    .budgets__info {
        width: 65rem;
    }
}
