<section class="budgets__info" role="region" aria-labelledby="budgetsTitle">
    <h2 id="budgetsTitle">Pressupostos en curs:</h2>
</section>

<div budget-list-toolbar
    role="toolbar"
    aria-label="Controls per filtrar i ordenar pressupostos"
    (searchByName)="searchByName($event)"
    (sortByDate)="sortByDate()"
    (sortByPrice)="sortByPrice()"
    (sortByAlphabetically)="sortByAlphabetically()"
></div>

@for( budget of budgets(); track $index){
    <article budget-item [budgetItem]="budget"></article>
}
