.modal-dialog {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}
.modal-content {
    margin: 0 auto;
    min-height: 10vh;
    max-width: 90%;
    border-radius: var(--border-radius);
    padding: 1.5rem;
} 
.modal-body {
    text-align: center;
}
.modal-body h2{
    font-size: var(--font-size-lg);
    margin-bottom: 1.5rem;
}
.modal-body p {
    font-size: var(--font-size-md);
    margin: 0;
}
.modal-strong {
    font-weight: 700;
}

@media(min-width: 768px) {

}