:root {
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    
    --color-grey-hard: #333333;
    --color-grey-light: #a0a0a0;

    --color-red-light: #9a0000;
    --color-green-light: #006919;

    /* Spacing */
    --spacing-ss: 1rem;
    --spacing-sm: 1.5rem;
    --spacing-md: 2rem;
    --spacing-lg: 5rem;

    /* Font sizes */
    --font-size-ss: 1rem;
    --font-size-sm: 1.15rem;
    --font-size-md: 1.25rem;
    --font-size-ml: 1.75rem;
    --font-size-lg: 2rem;
    --font-size-ll: 2.5rem;

    /* Border radius */
    --border-radius: 1rem;
    
    /* Box Shadow */
    --box-shadow: 0.0rem 0.0rem 0.75rem 0.25rem rgba(0, 0, 0, 0.1);

}

/* Generals */

html{
  box-sizing: border-box;
  font-size: 62.5%;  
}

*,*:before,*:after {
    box-sizing: inherit;
}

body{
    font-family: 'Poppins Medium';
    overflow: scroll;
    scrollbar-width: none;
    margin: 0;
    padding: 0;

}
body::-webkit-scrollbar {
    display: none;
}

img{
    max-width: 100%;
    height: auto;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

/* Utilities */
