:root {
    /* Colors */
    --color-white: #fff;
    --color-grey-light: #a0a0a0;
    --color-grey-hard: #232323;
    --color-red-light: #9a0000;
    --color-green-light: #005a15;

    /* Spacing */
    --spacing-sm: 1.5rem;
    --spacing-md: 2rem;
    --spacing-lg: 5rem;

    /* Font sizes */
    --font-size-sm: 1.15rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 2rem;

    /* Border radius */
    --border-radius: 1rem;
    
    /* Box Shadow */
    --box-shadow: 0.0rem 0.0rem 0.75rem 0.25rem rgba(0, 0, 0, 0.1);
}

/* Generals */

html{
  box-sizing: border-box;
  font-size: 62.5%;  
}

*,*:before,*:after {
    box-sizing: inherit;
}

body{
    font-family: 'Poppins Medium';
    overflow: scroll;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* Utilities */

.container {
    width: 70%;
    margin: 0 auto;
    min-width: 50rem;
}