
/* Container */


    
/*Form*/

.form__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 1rem;
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    border: 2px solid transparent;

    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
.form__group:hover {
    outline: 2px solid var(--color-grey-light);
}

.form__info {
    width: 40%;
}
.form__info h2 {
    margin: 0 auto ;
    font-weight: 700;
}
.form__info p {
    width: 85%;
    margin: 0;
    font-weight: 500;
    font-size: var(--font-size-md);
    line-height: 1.5rem;
    
}

.form__group h3 {
    width: 25%;
    font-size: var(--font-size-lg);
    font-weight: 700;
    text-align: center;
}
.form__group span {
    font-size: 1.25rem;
}

.form__checkgroup {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

/* Result */

.form__result {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem auto;
}
.form__result h3 {
    font-size: var(--font-size-lg);
    font-weight: 700;
    min-width: 7.5rem;
    text-align: right;
}
.form__result span {
    font-size: 1.25rem;  
}

/* Form Contact */
