


/* Header */
.header {
    margin: 0 auto 5rem auto;
    width: 70%;
    min-width: 50rem;
}
.header__logo{
    margin: 1.5rem auto;
    color: #232323;
    font-size: 1.25rem;
}
.header__image {
    background-image: url('../assets/images/Wallpaper_001.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    height: 15rem;
    width: 100%;
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
    transition: background-size 0.3s ease-in-out;
}

.header__image:hover{
    background-size: 105%;
}

.header__text {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
}

/*Form*/
.container {
    width: 50%;
    margin: 0 auto;
    min-width: 50rem;
}

.form__group {
    background-color: white;
    box-shadow: 0.0rem 0.0rem 0.75rem 0.25rem rgba(0,0,0,.1);

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    border: none;
}
.form__info {
    width: 50%;
}
.form__info h2 {
    margin: 0;
}
.form__info p {
    width: 85%;
    margin: 0;
    font-weight: 500;
}
.form__group h3 {
    font-size: 2rem;
    font-weight: 700;
}
.form__group span {
    font-size: 1.25rem;
}
.form__checkgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Result */
.form__result {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 10rem;
}
.form__result h3 {
    font-size: 2rem;
    font-weight: 700;
    min-width: 7.5rem;
    text-align: right;
}
.form__result span {
    font-size: 1.25rem;
    
}