:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    margin: 0 auto 1rem auto;
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    width: 85%;
    min-width: 40rem;

    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
:host:hover {
    outline: 2px solid var(--color-grey-light);
}

.budget__info {
    width: 30%;
}
.budget__info h2 {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--color-grey-hard);
    margin: 0 auto 0.25rem;
}
.budget__info h3 {
    color: var(--color-grey-light);
    font-size: var(--font-size-sm);
    margin: 0.25rem;
}

.budget__service {
    width: 50%;
    font-weight: 700;
    font-size: var(--font-size-sm);
    color: var(--color-grey-hard);
}
.budget__service h3 {
    margin: 0;
    font-weight: 700;
    font-size: var(--font-size-md);
}
.budget__service ul {
    margin: 0;
}

.budget__price {
    width: 20%;
    text-align: right;
    font-size: var(--font-size-md);
}
.budget__price h3 {
    font-size: var(--font-size-md);
    color: var(--color-grey-light);
}
.budget__price h2 {
    font-size: var(--font-size-lg);
    font-weight: 800;
    color: var(--color-grey-hard);
}
.budget__price span {
    font-size: var(--font-size-sm);
}
