:host {
    display: grid;
    grid-template-columns: 3fr;
    justify-content: space-between;
    align-items: start;
    text-align: left;

    margin: 0 auto 1rem auto;
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    width: 85%;
    min-width: 40rem;

    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
:host:hover {
    outline: 2px solid var(--color-grey-light);
}

.budget__info {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: var(--spacing-sm);
}
.budget__info h2 {
    font-size: var(--font-size-ml);
    font-weight: 700;
    color: var(--color-grey-hard);
    margin: 0 auto 0.25rem;
}
.budget__info h3 {
    color: var(--color-grey-light);
    font-size: var(--font-size-sm);
    margin: 0.25rem;
}

.budget__service {
    grid-column: 1 / 2;
    font-weight: 700;
    font-size: var(--font-size-sm);
    color: var(--color-grey-hard);
}
.budget__service h3 {
    margin: 0;
    font-weight: 700;
    font-size: var(--font-size-md);
}
.budget__service ul {
    margin: 0;
}

.budget__price {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    text-align: right;
    font-size: var(--font-size-md);
}
.budget__price h3 {
    font-size: var(--font-size-md);
    color: var(--color-grey-light);
}
.budget__price h2 {
    font-size: var(--font-size-lg);
    font-weight: 800;
    color: var(--color-grey-hard);
}
.budget__price span {
    font-size: var(--font-size-sm);
}

@media(min-width: 768px) {
    :host {
        width: 65rem;
        grid-template-columns: 3fr 3fr 1fr;
        gap: var(--spacing-md);
    }
    .budget__info {
        grid-column: 1 / 2;
    }
    .budget__service {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .budget__price {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

