:host {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-sm);
    width: 85%;
    margin: 0 auto var(--spacing-md) auto;
}

button {
    border: none;
    background-color: transparent;
    text-align: right;
    font-weight: 700;
    font-size: var(--font-size-md);
    color: var(--color-grey-hard);
    position: relative;
}
button:focus{
    color: var(--color-green-light);
}
button:focus::after{
    content: "▼";
    position: absolute;
    left: -0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-md);
}

@media(min-width: 768px){
    :host {
        width: 65rem;
    }
}